# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/data
/ShadedPath12/.vs/ShadedPath12/v14/.suo
/ShadedPath12/ipch/SHADEDPATH12-ef764ea3
/ShadedPath12/ShadedPath12/x64
/ShadedPath12/ShadedPath12/ShadedPath12.vcxproj.user
/ShadedPath12/x64
/ShadedPath12/Activity1.nvact
/ShadedPath12/ShadedPath12.VC.db
/ShadedPath12/ShadedPath12.VC.VC.opendb
/ShadedPath12/ShadedPath12/xapp_run.log
